* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: linear-gradient(135deg, #3a5ba0, #1d2f50);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.card {
    width: 420px;
    background: rgba(255,255,255,0.1);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.search {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
    position: relative; 
}

.search input {
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search button {
    width: 50px;
    border: none;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.search button img {
    width: 20px;
}

.weather-icon {
    width: 120px;
    margin: 15px 0;
}

.temp {
    font-size: 70px;
    font-weight: 600;
}

.city {
    font-size: 35px;
    margin-bottom: 20px;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.col {
    display: flex;
    align-items: center;
    gap: 10px;
}

.col img {
    width: 35px;
    height: 35px;
}
.suggestions {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-top: -15px;
    padding: 5px 0;
    position: absolute;
    width: calc(100% - 60px); /* Adjusts width to fit under the input */
    max-height: 180px;
    overflow-y: auto;
    display: none;
    z-index: 999;
    /* Hide scrollbar by default */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.suggestions::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.suggestion-item {
    padding:8px 15px;
    cursor: pointer;
    transition: 0.2s;
}
.suggestion-item:hover {
    background: rgba(255,255,255,0.25);
}

.loc-btn {
    width: 50px;
    height: 50px;
    border: none;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    transition: 0.2s;
}

.loc-btn:hover {
    background: #e6e6e6;
}
